body {
    padding: 0;
    margin: 0;
}
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #a09ba1 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #efedef9e;
    border-radius: 10px;
  }
#boards {
    font-family: Arial;
}

.board {
    color: white;
    background-color: limegreen;
    height: 100vh;
    margin-left: 50px;
}

.board-header {
    padding: 10px;
}

.board-header input {
    color: white;
    font-size: 40px;
    background-color: transparent;
    border: none;
}

.board-header input:focus {
    color: black;
    background-color: white;
}

.board-content {
    display: flex;
}

.column {
    color: black;
    width: 250px;
    background-color: gainsboro;
    margin: 25px 10px;
    padding: 5px;
    box-sizing: border-box;
    padding: 10px 5px 10px 5px;
    border-radius: 0.5em;
}

.column-header {
    font-size: 25px;
    font-weight: bold;
}

.column-header input {
    font-size: 25px;
    font-weight: bold;
    background-color: transparent;
    border: none;
    max-width: 220px;
}

.column-header input:focus {
    background-color: white;
}



.column-content {
    padding: 5px;
}

.column-delete {
    display: none;
    cursor: pointer;
}

.column:hover .column-delete {
    display: block;
}

.card {
    background-color: ghostwhite;
    border-radius: 5px;
    margin: 5px 0;
    position: relative;
    padding: 5px;
    box-sizing: border-box;
}

.card-delete {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
}

.card:hover .card-delete {
    display: block;
}
.flexBoardContentUpd{
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;
    max-height: 800px;
}
.flex-box {
    display: flex;
}
.flex-box-col{
    display: flex;
    flex-direction: column;
}

.to-right {
    margin: 0 0 0 auto;
}

.ghost {
    opacity: 0.5;
}

.bg-fix {
    background-size: cover;
    background-position: center;
    max-height: 100vh;
    overflow: hidden;
}

#sidebar {
    position: fixed;
    width: 400px;
    height: 100%;
    overflow-y: scroll;
    top: 0;
    bottom: 0;
    right: -400px;
    background-color: rgba(220, 220, 220, 0.5);
    transition: all 0.3s;
}

.sidebar-active {
    right: 0px !important;
}

.tile-background {
    width: 170px;
    height: 100px;
    border-radius: 10px;
    margin: 10px;
}

#background-place {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#side-menu {
    position: fixed;
    width: 300px;
    overflow-y: scroll;
    top: 0;
    bottom: 0;
    left: -250px;
    background-color: rgba(220, 220, 220, 0.900);
    transition: all 0.3s;
}

.side-menu-active {
    left: 0px !important;
}

.side-menu-item {

    background-color: rgb(70 70 70);
    text-align: center;
    padding: 10px 5px;
    cursor: pointer;
    color: white;
    font-size: 22px;
    font-weight: bold;
    margin: 5px;
    border-radius: 0.4em;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}
.sideBarPrev{
    width: 60px;
    height: 50px;
    border-radius: 0.5em;
    margin-top: 5px;
    background-color: limegreen;
}
.tableChoose{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.settingsbutton {
    height: 50px;
    width: 60px;
    border-radius: 0.5em;
    background-image: url(sett-ico.png);
    background-position: center center;
    background-size: contain;
    position: relative;
}

.input-boardname {
    display: inline-block;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.btn001 {
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}

.btn001:hover {
    background-color: aliceblue;
}

.btn002 {}

#btn002 {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
    margin: 0px;
    margin-left: 10px;
}

#btn002:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

#btn002:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
}

#btn002:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
}

.settingspanel {
    padding: 30px 20px 30px 20px;
    background-color: rgb(147 155 163 / 90%);
    border-radius: 1em;
    margin-top: 10px;
    position: absolute;
    top: 50px;
    left: 115px;
    z-index: 5;
}

.btn003 {
    display: inline-block;
    padding: 0.6em 1.7em;
    border: 0.1em solid #ffffff;
    margin: 0.5em 0.3em 0.3em 0.5em;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: #000000;
    text-align: center;
    transition: all 0.2s;
}

.btn003:hover {
    color: #000000;
    background-color: #ffffff;
}
.flex-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
}